{
    attributes = (
        {
            allowsNull = Y; 
            columnName = current_stage; 
            externalType = int4; 
            name = currentStage; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = date_inserted; 
            externalType = timestamp; 
            name = dateinserted; 
            valueClassName = NSCalendarDate; 
        }, 
        {
            columnName = dont_crawl; 
            externalType = int2; 
            name = doNotCrawl; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = fetch_state; 
            externalType = int4; 
            name = fetchStatus; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = follow_links; 
            externalType = int2; 
            name = followlinks; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = last_downloaded; 
            externalType = timestamp; 
            name = lastmodified; 
            serverTimeZone = NSLocalTimeZone; 
            valueClassName = NSCalendarDate; 
        }, 
        {
            allowsNull = Y; 
            columnName = link_depth; 
            externalType = link_depth; 
            name = linkdepth; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = md5_page; 
            externalType = varchar; 
            name = md5page; 
            valueClassName = NSString; 
        }, 
        {
            columnName = page_id; 
            externalType = int4; 
            name = pageid; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = path; 
            externalType = varchar; 
            name = path; 
            valueClassName = NSString; 
        }, 
        {
            columnName = shop_id; 
            externalType = int4; 
            name = shopid; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = site_id; 
            externalType = int4; 
            name = siteid; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (pageid); 
    className = EOGenericRecord; 
    classProperties = (
        pageid, 
        path, 
        siteid, 
        md5page, 
        shopid, 
        currentStage, 
        fetchStatus, 
        lastmodified, 
        dateinserted, 
        linkdepth, 
        followlinks, 
        doNotCrawl
    ); 
    externalName = page; 
    name = Page; 
    primaryKeyAttributes = (pageid); 
}
