{
    attributes = (
        {
            columnName = current_stage; 
            externalType = int2; 
            name = currentStage; 
            valueClassName = NSNumber; 
            valueType = i; 
            width = "-2"; 
        }, 
        {
            columnName = stage_information_id; 
            externalType = int4; 
            name = stageInformationId; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = stage_intervall; 
            externalType = int4; 
            name = stageIntervall; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (stageInformationId); 
    className = StageInformation; 
    classProperties = (stageIntervall, currentStage, stageInformationId); 
    externalName = stage_information; 
    name = StageInformation; 
    primaryKeyAttributes = (stageInformationId); 
}
